flow.json
[
    {
        "id": "8e25788d.70d798",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ff3af16.451e3",
        "type": "tab",
        "label": "EJERCICIO 3",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1f4bc2fe.f615dd",
        "type": "tab",
        "label": "EJERCICIO 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81a52bfc.a267b8",
        "type": "tab",
        "label": "captura de pantalla",
        "disabled": false,
        "info": ""
    },
    {
        "id": "496f987.898cd68",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6237f20.585b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5d8be856.bd6898",
        "type": "mqtt-broker",
        "name": "aedes enrique",
        "broker": "enriquecrespo.com",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61d1b129.0ab9a",
        "type": "mqtt-broker",
        "name": "aedes eneko",
        "broker": "192.168.1.80",
        "port": "1885",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "740a27bf.c98c38",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8e6ff268.90f1d",
        "type": "ui_tab",
        "d": true,
        "name": "Trafico",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57ec385f.29a098",
        "type": "ui_group",
        "name": "Navarra",
        "tab": "8e6ff268.90f1d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b4d0e075.2b07f",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "bcaec1c9.fb9fb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8e6ff268.90f1d",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "d45f6dd0.d00da",
        "type": "ui_tab",
        "name": "Casa",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f60d4690.7f8558",
        "type": "ui_group",
        "name": "Consumo",
        "tab": "d45f6dd0.d00da",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "81d66982.a7bd68",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f60d4690.7f8558",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d1be0de9.1f684",
        "type": "ui_group",
        "name": "Estadistica",
        "tab": "d45f6dd0.d00da",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f2438b48.129038",
        "type": "inject",
        "z": "8e25788d.70d798",
        "name": "ejercicio 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "dia",
                "v": "miercoles",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "6e93e5ef.ded07c"
            ]
        ],
        "outputLabels": [
            "inyecta hora"
        ]
    },
    {
        "id": "6e93e5ef.ded07c",
        "type": "debug",
        "z": "8e25788d.70d798",
        "name": "19 abril 2021",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "hora",
        "statusType": "msg",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "70ab3ad2.dddb34",
        "type": "inject",
        "z": "5ff3af16.451e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e00341fc.1cda3"
            ]
        ]
    },
    {
        "id": "e00341fc.1cda3",
        "type": "http request",
        "z": "5ff3af16.451e3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "5e8835e9.f8cadc"
            ]
        ]
    },
    {
        "id": "5e8835e9.f8cadc",
        "type": "csv",
        "z": "5ff3af16.451e3",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "68b88856.ebfe58",
                "fb247a62.a5eef8"
            ]
        ]
    },
    {
        "id": "68b88856.ebfe58",
        "type": "debug",
        "z": "5ff3af16.451e3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb247a62.a5eef8",
        "type": "switch",
        "z": "5ff3af16.451e3",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "2ba9ebe.81c8d14"
            ]
        ]
    },
    {
        "id": "2ba9ebe.81c8d14",
        "type": "change",
        "z": "5ff3af16.451e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANICO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "aca2a91f.e4f348"
            ]
        ]
    },
    {
        "id": "aca2a91f.e4f348",
        "type": "debug",
        "z": "5ff3af16.451e3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "c1f24d5d.3313e",
        "type": "http in",
        "z": "5ff3af16.451e3",
        "name": "",
        "url": "/api",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "17a0d2a1.b9e86d",
        "type": "mqtt in",
        "z": "8e25788d.70d798",
        "name": "",
        "topic": "aprendiendonodered21/enrique/m5stick/enrique/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6237f20.585b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "600fb7ab.267b38",
                "4e305b6f.61e894"
            ]
        ]
    },
    {
        "id": "600fb7ab.267b38",
        "type": "debug",
        "z": "8e25788d.70d798",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e305b6f.61e894",
        "type": "mqtt out",
        "z": "8e25788d.70d798",
        "name": "",
        "topic": "aprendiendonodered21/eneko",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d1b129.0ab9a",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "3e3fd07f.3dfb2",
        "type": "mqtt in",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura M5 stick",
        "topic": "aprendiendonodered21/enrique/m5stick/enrique/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6237f20.585b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "e582a8cb.4733c8",
                "9a09839.c6db78",
                "f05fa544.94a118"
            ]
        ]
    },
    {
        "id": "e582a8cb.4733c8",
        "type": "unit-converter",
        "z": "1f4bc2fe.f615dd",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "F",
        "inputField": "payload",
        "outputField": "payload",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": 2,
        "name": "conversor de temperatura",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "c56b4c75.e7c93"
            ]
        ]
    },
    {
        "id": "9a09839.c6db78",
        "type": "mqtt out",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura M5stick",
        "topic": "aprendiendonodered21/eneko/temperaturaM5stick",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6237f20.585b3",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "c56b4c75.e7c93",
        "type": "mqtt out",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura Fahrenheit",
        "topic": "aprendiendonodered21/eneko/temperaturaFahrenheit",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6237f20.585b3",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "25423380.b3f9ac",
        "type": "mqtt out",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura Kelvin",
        "topic": "aprendiendonodered21/eneko/temperaturaKelvin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6237f20.585b3",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "f05fa544.94a118",
        "type": "unit-converter",
        "z": "1f4bc2fe.f615dd",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "K",
        "inputField": "payload",
        "outputField": "payload",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": 2,
        "name": "conversor de temperatura K",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "25423380.b3f9ac"
            ]
        ]
    },
    {
        "id": "b4f6e857.2f2228",
        "type": "aedes broker",
        "z": "1f4bc2fe.f615dd",
        "name": "aedes eneko",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "98f66c9f.e8c5c",
        "type": "inject",
        "z": "81a52bfc.a267b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "4c751894.1f93b8"
            ]
        ]
    },
    {
        "id": "4c751894.1f93b8",
        "type": "http request",
        "z": "81a52bfc.a267b8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://www.navarra.es/Templates/Navarra/Especificas/CamarasTrafico/CamaraTraficoHandler.ashx?Img=carreteras\\ARETA_PA_30_5_700.JPG&random=665858392",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "8277020f.f6d1e"
            ]
        ]
    },
    {
        "id": "8277020f.f6d1e",
        "type": "image",
        "z": "81a52bfc.a267b8",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "462e9463.f6ed9c",
        "type": "ui_button",
        "z": "81a52bfc.a267b8",
        "name": "",
        "group": "57ec385f.29a098",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "4c751894.1f93b8"
            ]
        ]
    },
    {
        "id": "7b8de762.801898",
        "type": "inject",
        "z": "496f987.898cd68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "cfa39072.26f05"
            ]
        ]
    },
    {
        "id": "cfa39072.26f05",
        "type": "http request",
        "z": "496f987.898cd68",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://www.navarra.es/Templates/Navarra/Especificas/CamarasTrafico/CamaraTraficoHandler.ashx?Img=carreteras\\ARETA_PA_30_5_700.JPG&random=665858392",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "ef32c8b6.4a9838",
                "e4e426af.beeaa8"
            ]
        ]
    },
    {
        "id": "ef32c8b6.4a9838",
        "type": "image",
        "z": "496f987.898cd68",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c0750f9.d0294",
        "type": "ui_button",
        "z": "496f987.898cd68",
        "name": "",
        "group": "57ec385f.29a098",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "cfa39072.26f05"
            ]
        ]
    },
    {
        "id": "e4e426af.beeaa8",
        "type": "ui_media",
        "z": "496f987.898cd68",
        "group": "57ec385f.29a098",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ea7c4be6.0077e8",
        "type": "mqtt in",
        "z": "496f987.898cd68",
        "name": "intensidad",
        "topic": "aprendiendonodered21/enrique/wibeee/irms1",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6237f20.585b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "41be6f90.c3419",
                "7d0963ea.b19dfc"
            ]
        ]
    },
    {
        "id": "41be6f90.c3419",
        "type": "ui_gauge",
        "z": "496f987.898cd68",
        "name": "",
        "group": "f60d4690.7f8558",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "Amperios",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "4.5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "3",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "30bb1cc9.c3c8e4",
        "type": "mqtt in",
        "z": "496f987.898cd68",
        "name": "intensidad",
        "topic": "aprendiendonodered21/enrique/wibeee/irms1",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6237f20.585b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0963ea.b19dfc",
        "type": "ui_chart",
        "z": "496f987.898cd68",
        "name": "",
        "group": "d1be0de9.1f684",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 470,
        "y": 380,
        "wires": [
            []
        ]
    }
]