flow.json
[
    {
        "id": "8e25788d.70d798",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ff3af16.451e3",
        "type": "tab",
        "label": "EJERCICIO 3",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1f4bc2fe.f615dd",
        "type": "tab",
        "label": "EJERCICIO 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81a52bfc.a267b8",
        "type": "tab",
        "label": "captura de pantalla",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6237f20.585b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5d8be856.bd6898",
        "type": "mqtt-broker",
        "name": "aedes enrique",
        "broker": "enriquecrespo.com",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61d1b129.0ab9a",
        "type": "mqtt-broker",
        "name": "aedes eneko",
        "broker": "192.168.1.80",
        "port": "1885",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f2438b48.129038",
        "type": "inject",
        "z": "8e25788d.70d798",
        "name": "ejercicio 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "dia",
                "v": "miercoles",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "6e93e5ef.ded07c"
            ]
        ],
        "outputLabels": [
            "inyecta hora"
        ]
    },
    {
        "id": "6e93e5ef.ded07c",
        "type": "debug",
        "z": "8e25788d.70d798",
        "name": "19 abril 2021",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "hora",
        "statusType": "msg",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "70ab3ad2.dddb34",
        "type": "inject",
        "z": "5ff3af16.451e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e00341fc.1cda3"
            ]
        ]
    },
    {
        "id": "e00341fc.1cda3",
        "type": "http request",
        "z": "5ff3af16.451e3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "5e8835e9.f8cadc"
            ]
        ]
    },
    {
        "id": "5e8835e9.f8cadc",
        "type": "csv",
        "z": "5ff3af16.451e3",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "68b88856.ebfe58",
                "fb247a62.a5eef8"
            ]
        ]
    },
    {
        "id": "68b88856.ebfe58",
        "type": "debug",
        "z": "5ff3af16.451e3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb247a62.a5eef8",
        "type": "switch",
        "z": "5ff3af16.451e3",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "2ba9ebe.81c8d14"
            ]
        ]
    },
    {
        "id": "2ba9ebe.81c8d14",
        "type": "change",
        "z": "5ff3af16.451e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANICO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "aca2a91f.e4f348"
            ]
        ]
    },
    {
        "id": "aca2a91f.e4f348",
        "type": "debug",
        "z": "5ff3af16.451e3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "c1f24d5d.3313e",
        "type": "http in",
        "z": "5ff3af16.451e3",
        "name": "",
        "url": "/api",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "17a0d2a1.b9e86d",
        "type": "mqtt in",
        "z": "8e25788d.70d798",
        "name": "",
        "topic": "aprendiendonodered21/enrique/m5stick/enrique/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6237f20.585b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "600fb7ab.267b38",
                "4e305b6f.61e894"
            ]
        ]
    },
    {
        "id": "600fb7ab.267b38",
        "type": "debug",
        "z": "8e25788d.70d798",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e305b6f.61e894",
        "type": "mqtt out",
        "z": "8e25788d.70d798",
        "name": "",
        "topic": "aprendiendonodered21/eneko",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6237f20.585b3",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "3e3fd07f.3dfb2",
        "type": "mqtt in",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura M5stick",
        "topic": "aprendiendonodered21/enrique/m5stick/enrique/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6237f20.585b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "e582a8cb.4733c8",
                "9a09839.c6db78",
                "f05fa544.94a118"
            ]
        ]
    },
    {
        "id": "e582a8cb.4733c8",
        "type": "unit-converter",
        "z": "1f4bc2fe.f615dd",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "F",
        "inputField": "payload",
        "outputField": "payload",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": false,
        "outputFieldDecimals": 2,
        "name": "conversor de temperatura",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "c56b4c75.e7c93"
            ]
        ]
    },
    {
        "id": "9a09839.c6db78",
        "type": "mqtt out",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura M5stick",
        "topic": "aprendiendonodered21/eneko/temperaturaM5stick",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d1b129.0ab9a",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "c56b4c75.e7c93",
        "type": "mqtt out",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura Fahrenheit",
        "topic": "aprendiendonodered21/eneko/temperaturaFahrenheit",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d1b129.0ab9a",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "25423380.b3f9ac",
        "type": "mqtt out",
        "z": "1f4bc2fe.f615dd",
        "name": "Temperatura Kelvin",
        "topic": "aprendiendonodered21/eneko/temperaturaKelvin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d1b129.0ab9a",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "f05fa544.94a118",
        "type": "unit-converter",
        "z": "1f4bc2fe.f615dd",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "K",
        "inputField": "payload",
        "outputField": "payload",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": false,
        "outputFieldDecimals": 2,
        "name": "conversor de temperatura K",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "25423380.b3f9ac"
            ]
        ]
    },
    {
        "id": "b4f6e857.2f2228",
        "type": "aedes broker",
        "z": "1f4bc2fe.f615dd",
        "name": "aedes eneko",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "98f66c9f.e8c5c",
        "type": "inject",
        "z": "81a52bfc.a267b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "4c751894.1f93b8"
            ]
        ]
    },
    {
        "id": "4c751894.1f93b8",
        "type": "http request",
        "z": "81a52bfc.a267b8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://www.navarra.es/Templates/Navarra/Especificas/CamarasTrafico/CamaraTraficoHandler.ashx?Img=carreteras\\ARETA_PA_30_5_700.JPG&random=665858392",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "8277020f.f6d1e"
            ]
        ]
    },
    {
        "id": "8277020f.f6d1e",
        "type": "image",
        "z": "81a52bfc.a267b8",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 520,
        "y": 160,
        "wires": []
    }
]